POSTGRES_DB=argos_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=argos_local_1234
POSTGRES_PORT=5432

DB_NAME=argos_db
DB_USER=admin
DB_PASSWORD=argos_local_1234
DB_HOST=postgres
DB_PORT=5432

DJANGO_SECRET_KEY=change-this-secret-key-before-client-delivery
SECRET_KEY=change-this-secret-key-before-client-delivery
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,argos.local
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,http://argos.local
CORS_ALLOWED_ORIGINS=http://localhost,http://127.0.0.1,http://argos.local

ADMIN_USERNAME=admin
ADMIN_PASSWORD=argos2025admin
ADMIN_EMAIL=admin@argos.local

RUN_SETUP_INITIAL_DATA=true
RUN_DEMO_SEED=false
HTTP_PORT=80
